@charset"utf-8";

* {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

:root {
  --black: #1e2024;
  --white: #ffffff;
  --blue: #081f36;
  --grey: #444444;
}

html,
:root {
  font-size: 16px;
}

body {
  background-color: var(--black);
  margin: 0%;
  height: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h2,
p {
  float: center;
}

h2,
p,
.nav-item,
.header,
.footer,
.nav a,
.dropdown-content a{
  text-decoration: none;
}


h2,
p,
.subnav subnavbtn,
input[type=text], 
input[type=password],
 {
  font: Arial;
}

h2,
p,
.header,
.footer,
.nav-item,
.nav-item,
.submitbtn,
.signupbtn,
.dropdown .dropbtn,
.dropdown-content a {
  color: var(--white);
}

h2,
.header,
.footer,
.nav-item{
  text-align: center;
}

p {
  text-align: left;
}

.nav {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.nav-item,
dropdown-content a {
  padding: 14px 16px;
}

nav-item {
  display: block;
}

.left,
.dropdown {
  float: left;
}

.right {
  float: right;
}

.nav-background,
.nav,
.dropdown .dropbtn {
  margin: 0px;
}

.nav-background,
.nav,
.dropdown .dropbtn,
.dropdown-content {
  background-color: var(--blue);
}

.nav,
.dropdown {
  overflow: hidden;
}

.header,
.footer,
.dark {
  background-color: var(--grey);
}

.header,
.footer,
.nav a {
  font-family: Helvetica;
}

.header,
.footer {
  font-size: 50px;
  margin: none;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  text-align: left;
}

.dropdown:hover .dropdown-content,
.dropdown-content a {
  display: block;
}

.header {
  padding: 40px;
}

.stripe-pattern {
  padding: 64px;
}

.stripe-pattern-row::after {
  content: "";
  display: table;
  clear: both;
}

.column-66,
.column-33 {
  float: left;
}

.column-66,
.column-33,
.footer {
  padding: 20px;
}

.column-33 {
  width: 33.33333%;
}

.column-66 {
  width: 66.66666%;
}

form {
  border: 3px solid #0e0e0e;
}

input[type=text], 
input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

input[type=text], 
input[type=password],
.submitbtn {
  width: 100%;
  background-color: var(--grey);
  color: var(--blue);
}

.submitbtn,
.signupbtn {
  width: 42.5%;
  margin: 3.33333%;
  position: relative;
}

.submitbtn {
  float: right;
}

.signupbtn {
  float: left;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
