@charset"utf-8";

@media screen and (max-width: 500px) {
  .stripe-pattern-column-66,
  .stripe-pattern-column-33 {
    width: 100%; 
    text-align: center;
  }
  img {
    margin:auto;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

:root {
  font-size: 16px;
  --black: #000000;
  --white: #ffffff;
  --grey: #333333;
  --darkgrey: #191919;
}

body {
  background-color: var(--grey);
  margin: 0%;
  height: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h2,
p {
  float: center;
  text-decoration: none;
  font: Arial;
}

h2,
p,
.header,
.footer,
.nav-item a,
.subnav .subnavbtn,
.subnav-content a {
  color: var(--white);
}
h2,
.header,
.footer,
.nav-item a{
  text-align: center;
}

p {
  text-align: left;
}

.nav {
  overflow: hidden;
  list-style-type: none;
  padding: 0;
}

.nav-item a{
  display: block;
  padding: 14px 16px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.nav-background,
.nav {
  background-color: var(--black);
  margin: 0px;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  background-color: var(--black);
  margin: 0;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: var(--black);
  width: 100%;
  z-index: 1;
}

.subnav-content li {
  float: left;
  text-decoration: none;
}

.subnav:hover .subnav-content {
  display: block;
}

.header,
.footer,
.dark {
  background-color: var(--darkgrey);
}

.header,
.footer,
.nav-item a {
  text-decoration: none;
  font-family: Helvetica;
}

.header,
.footer {
  font-size: 50px;
  margin: none;
}

.header {
  padding: 40px;
}

.footer {
  padding: 20px;
}

.stripe-pattern {
  padding: 64px;
}

.stripe-pattern-row::after {
  content: "";
  display: table;
  clear: both;
}

.stripe-pattern-column-66,
.stripe-pattern-column-33 {
  float: left;
  padding: 20px;
}

.stripe-pattern-column-33 {
  width: 33.33333%;
}

.stripe-pattern-column-66 {
  width: 66.66666%;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
