body {background-color:#faf0ea; margin:0%; height: 100%;}
.header {padding: 40px; text-align: center; background: #ff6714; color: #fec7a9; text-decoration: none; font-size: 75px; margin: none;}
.footer {padding: 20px; text-align: center; background: #ff6714; color: #fec7a9; text-decoration: none; font-size: 50px;}
.navbar-frame {overflow: hidden; background-color: #333;}
.navbar-frame a {float: left; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;}
.navbar-frame a:hover {background-color: #ddd; color: black;}
.navbar-frame a.active {background-color: #04AA6D; color: white;}
