<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Login - A Bunch of Random Stuff</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Random and interesting articles about various subjects.">
        <meta name="keywords" content="bunch of random, bunch of random stuff, random stuff, random, stuff, bunch, hrishikesh, shanmuganathan, hrishikesh shanmuganathan">
        <meta name="author" content="Hrishikesh Shanmuganathan">
        <meta name="og:title" content="Sign Up - A Bunch of Random Stuff">
        <meta name="og:type" content="website">
        <meta name="og:url" content="https://shanmuga1980.github.io/abunchofrandomstuff/login-page.html">
        <meta name="og:image" content="">
        <meta name="og:site_name" content="A Bunch of Random Stuff">
        <meta name="og:description" content="Random and interesting articles about various subjects.">
        <meta name="og:country-name" content="USA">
        <meta name="og:locale" content="en_US">
        <script src="/abunchofrandomstuff/abunchofrandomstuff.js"></script>
        <script src="/abunchofrandomstuff/angular.js"></script> 
        <link rel="stylesheet" href="/abunchofrandomstuff/abunchofrandomstuff.css">
    </head>
    <body>
        <div class="wrapper">
            <h2>Sign Up</h2>
            <p>Please fill this form to create an account.</p>
            <form name="register" action="https://shanmuga1980.github.io/abunchofrandomstuff/php/login-signup/signup-action.php" method="post" ng-app="">
                <div class="input">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" value="Your Username." ng-model="username" required>
                </div>   
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" value="" ng-model="name" required>
                </div>
                <div class="input">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" value="" ng-model="email" required>
                </div>   
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" value="" ng-model="password" required>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" name="confirm_password" class="form-control" value="" ng-model="confirm_password" required>
                </div>
                <div ng-app="signuperrs">
                    <span ng-show="register.email.$error.email">Not a valid e-mail address</span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <input type="reset" class="btn btn-secondary ml-2" value="Reset">
                </div>
                <div class="err">
                    <span class="err" 
                          ng-show="register.username.$dirty && register.username.$invalid && 
                                   register.username.$dirty && register.username.$invalid && 
                                   register.email.$dirty && register.email.$invalid">
                        <span ng-show="register.username.$error.required">Username is required.</span>
                        <span ng-show="register.name.$error.required">Username is required.</span>
                        <span ng-show="register.email.$error.required">Email is required.</span>
                        <span ng-show="register.email.$error.email">Invalid email address.</span>    
                    </span>
                </div>
                <p>Already have an account?
                    <a href="https://shanmuga1980.github.io/abunchofrandomstuff/login">Login here</a>.
                </p>
            </form>
        </div>    
    </body>  
</html>
